/* Defualt Page Styling */
body {
  padding: 1rem 5rem;
  background-color: rgb(48, 48, 48);
  row-gap: 1rem;
  color: white;
  /* background: linear-gradient(160deg, #141e30 0%, #243b55 100%); */
}

section {
  border: solid white 1px;
  color: white;
  min-height: 59vh;
  margin-top: 1rem;
}

.container {
  padding: 3rem 1rem;
}

/*Navigation Styling*/
nav {
  border: white solid 0.1rem;
  border-radius: 1.5rem;
  padding: 0 3rem;
  align-items: center;
  margin: 0 1rem;
  display: flex;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

nav img {
  max-height: 2rem;
}

/* Page Specific Styling*/
/**/
.hero_container {
  display: flex;
  flex-direction: row;
  border: solid red 1px;
  flex-wrap: nowrap;
  column-gap: 1rem;
  justify-content: space-between;
}

.hero_container div {
  flex: 1;
}

.hero_title-wrapper {
  border: solid green 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Content Section Styling*/
.content_section .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.content_wrapper {
  padding: 1rem;
  border: 0.1rem solid white;
}

/*Next Section Styling*/
.next_section .container {
  flex-grow: 1;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.content_wrapper {
  padding: 1rem;
  border: 0.1rem solid white;
  width: 100%;
}

/*Next Section Styling*/
.involve_section .container {
  flex-grow: 1;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

/*Contact Section Styling*/
.contact_section .container {
  flex-grow: 1;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}
